.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.now{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.now a{
    text-decoration: none;
}